.production-analytics {
    &-spacing-div {
        margin-top: 5%;
    }

    &-dashboard-appBar {
        background-color: rgb(109, 32, 119) !important;
        position: inherit !important;
        background-image: url('file:///Users/global/Documents/poc/pas-poc-cd2/public/assets/images/EntrustHeader.png');
        height: 55px;
    }

    &-title {
        font-size: 18px !important;
        font-weight: bold !important;
        font-family: Gotham, !important;
    }

    &-vertical-segment {
        border-left: 0.5px solid white;
        height: 32px;
        position: absolute;
        left: 9%;
    }

    &-sub-title {
        font-size: 12px !important;
        font-weight: bold !important;
        padding-left: 2%;
        font-family: Gotham, !important;
    }

    &-info-icon {
        position: absolute;
        right: 2%;
        width: 16px !important;
        height: 16px !important;
    }

    &-dashboard-body {
        width: 100%;
        background-color: white !important;
        padding: 1%;
        padding-left: 0%;
    }

    &-dashboard-body-title {
        font-size: 12px !important;
        padding-left: 1%;
        font-family: Gotham, !important;
    }

    &-dashboard-body-first {
        display: flex;
    }

    &-settings-icon {
        width: 18px !important;
        height: 18px !important;
        padding: 0%;
        margin-left: 5%;
    }

    &-dashboard-main-container {
        width: 100%;
        height: 100vh;
        border: 1px solid #eae5e5;
    }

    &-dashboard-main-container-header {
        display: flex;
        background-color: #dde2f6f5;
        height: 35px;
    }

    &-dashboard-header-title {
        font-size: 12px !important;
        padding-left: 1%;
        color: black;
        align-items: center;
        display: contents;
        white-space: nowrap;
        font-weight: 600 !important;
        font-family: Gotham, !important;
    }

    &-dashboard-vertical-segment {
        border-left: 0.5px solid #eae5e5;
        height: 32px;
    }

    &-grid {
        display: contents !important;
    }


    &-grid-item {
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #bab6b6;
        padding: 0% !important;
        &:hover{
            background-color: #ddd;
            cursor: pointer;
        }
    }

    &-grid-item-selected {
        background-color: #ffff;
        border-bottom: 1px solid #bab6b6;
    }


    &-header-image {
        height: auto;
        display: block;
        width: 30%;
        margin-left: -1%;
    }

    &-side-div {
        background-color: #dfe5f7;
        padding: 0% !important;
    }

    &-side-div-content {
        height: 25px;
        background: white;
        padding-left: 2%;
    }
}
