.machine-tab {
    &-overview {
        padding: 1.25rem;
        min-height: 506px;
    }

    &-container {
        border: 1px solid #dfe7eb;
        border-bottom-left-radius: 4px;
        border-top-right-radius: 4px;
        width: 88%;

    }

    &-post-container {
        width: 90%;
    }

    &-table-head {
        background-color: #e6ecef;
        border-bottom: 1px solid #dfe7eb;
        display: flex;
        margin: 0%;
        height: 35px;
    }

    &-head-title {
        width: 40px;
    }

    &-head-event-title-2 {
        width: 46px;
    }

    &-head-event-title-1 {
        width: 86px !important;
    }

    &-head-long-title {
        width: 96px;
        padding-right: 0%;
    }
    
    &-title {
        font-family: Gotham, sans-serif;
        font-size: 12px !important;
        padding-left: 1%;
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
        font-family: Gotham, !important;
    }

    &-table-head-col {
        border-right: 1px solid #dfe7eb;
    }

    &-center-text {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-flex-start-text {
        display: flex;
        align-items: center;
    }

    &-row {
        margin: 0%;
    }

    &-sort-icon {
        width: 18px !important;
        height: 18px !important;
        padding: 0%;
    }

    &-edit-icon {
        background-color: #456bd1 !important;
        min-width: 20px !important;
        height: 16px;
        width: 16px;
        border-radius: 0px !important;
    }

    &-revoke-icon {
        background-color: #f9777f !important;
        min-width: 20px !important;
        height: 16px;
        width: 16px;
    }

    &-remove-icon {
        background-color: #f9777f !important;
        min-width: 20px !important;
        height: 16px;
        width: 16px;
    }

    &-row-content {
        height: 40px;
        border-bottom: 1px solid #dfe7eb;
    }

    &-required-field {
        background-color: #5dbb5d;
        height: 30px;
        font-size: 12px;
        font-family: Gotham, !important;
    }

    &-available-field {
        background-color: #e9ecef;
        height: 30px;
        font-size: 12px;
        margin-right: 6px;
        font-family: Gotham, !important;
    }

    &-action-buttons {
        width: 94% !important;
    }

    &-save-btn {
        width: 70px !important;
        background-color: #456bd1;
    }

    &-shift-text {
        padding: 0%;
        width: 63px;
    }

    &-display-text{
        padding: 0%;
        width: 80px;
    }

    &-fir-text{
        padding: 0%;
        width: 52px;
    }

    &-container-info{
        background-color: #FCF3E1;
        padding: 15px 30px 15px 15px;
        border-left: 5px solid #fcb322;
    }

    &-container-error-info{
        background-color: #FAEAE6;
        padding: 15px 30px 15px 15px;
        border-left: 5px solid #ED4E2A;
        margin-left: 2%;
    }

    &-new-row-content{
        height: 35px !important;
    }
    &-row-btn-content{
        height: auto !important;
    }
}
.machine-tab-action-buttons > div:first-child {
    padding-left: 0px;
}